html,
body,
h1,
p {
  margin: 0;
  padding: 0;
}

.navbar-light {
  background-color: #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-dark {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-light {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.logo-dark {
  font-size: 24px;
  font-weight: bold;
  color: #ddd;
}

.switch {
  /* border: solid red 3px; */
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
